body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .imagen {
    position: relative;
    text-align: center;
    margin: 90px auto;
    display: inline-block;
  }
  
  .imagen-texto {
    color: var(--color);
    font-weight: bold;
    padding: 10px; /* Ajustar el padding para dar espacio al subrayado y la línea superior */
    border-radius: 5px;
    font-size: 25px; /* Tamaño de fuente */
    white-space: nowrap; /* Evita el salto de línea */
    position: relative;
    font-size: 3rem;
}

.imagen-texto::after{
  content: '';
  background-color: black;
  width: 110%;
  height: 5px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.imagen-texto::before{
  content: '';
  background-color: black;
  width: 110%;
  height: 5px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }
  
  
/* Menú Móvil */
.toggle-menu {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
    z-index: 1;
    display: block;
  }
  
  .toggle-menu__checkbox {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    width: 40px;
    opacity: 0;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
  
  .toggle-menu__checkbox:checked + .main-menu {
    transform: translate(0);
  }
  
  /* Menú Principal */
  .main-menu--show {
    transform: translateY(0);
  }
  
  .main-menu {
    
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color);
    transition: transform 0.3s;
    transform: translateY(-100%);
  }
  
  .main-menu__item {
    padding: 1em;
  }
  
  .main-menu__link {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  /* Menú Tableta/Escritorio */
  @media (min-width: 760px) {
    .toggle-menu {
        display: none;
    }
  
    .main-menu {
        flex-direction: row;
        transform: translateY(0);
    }
}
.reproducir-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Estilos al pasar el mouse por encima */
.reproducir-button:hover {
    background-color: #0056b3;
}

/* Estilos al hacer clic */
.reproducir-button:active {
    background-color: #003d80;
}

/* Ajustar el tamaño del ícono */
.reproducir-button svg {
    width: 24px;
    height: 24px;
}

/* Centrar el ícono verticalmente */
.reproducir-button svg {
    vertical-align: middle;
}
.imagenes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:10%;
}
@media screen and (max-width: 900px) {
  .ref a:not(:first-child) {
      display: none;
  }
  .ref a.icon {
      display: block;
  }
  .ref.responsive {
      position: relative;
  }
  .ref.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .ref.responsive a {
      display: block;
      text-align: center;
  }
  .imagenes {
    flex-direction: column; /* Cambiar a disposición vertical */
    margin: 30px auto; /* Reducir el margen para más espacio */
    display: flex;
    justify-content: center;
  }
  
  .imagenes a {
    display: block; /* Hacer que cada imagen con enlace ocupe todo el ancho */
    margin: 50px auto; /* Agregar margen entre las imágenes */
  }
}

.contenedor{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  max-height: 500px;
  margin-bottom: 5%;
}
.contenedor__img{
  max-width: 100%;
  object-fit: cover;
  max-height: 100%;
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4;
  filter: brightness(1.25) contrast(1.33);
}

:root{
  --color:rgb(52,191,255); /* //funcion para el color */
}
/* Reset y Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
.slider-frame {
  text-align: center;
  margin: 30px auto 0;  /* Centrar horizontalmente */
  max-width: 77.77%; /* Ajusta este valor según tus necesidades */
  max-height: 400px;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  animation: slide 10s infinite ;
}

.slider-frame li {
  flex: 0 0 100%; /* Ocupar todo el ancho del slider */
  padding: 0;
}

.slider-frame img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes slide {
  0%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
}


/* Estilos del Encabezado */
h1 {
  text-align: center;
  margin: 20px;
  color: rgb(23, 106, 109);
  text-decoration: none;
  margin-bottom: 20px;
  flex-direction: column;
  padding-top: 10px;
}

/* Sección de Tarjetas de Servicios */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(44, 40, 40);
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 350px;
  overflow: hidden; /* Agregamos overflow: hidden; para ocultar el contenido que se desborda */
}


h2,
h3 {
  color: rgb(23, 106, 109);
  text-align: center;
}

article p {
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
}

/* Menú Móvil */
.toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  filter: invert(1);
  width: 40px;
  z-index: 1;
  display: block;
}

.toggle-menu__checkbox {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  width: 40px;
  opacity: 0;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.toggle-menu__checkbox:checked + .main-menu {
  transform: translate(0);
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Valor alto para asegurar que el menú esté en la parte superior */
}


/* Menú Principal */
.main-menu--show {
  transform: translateY(0);
}

.main-menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(23, 106, 109);
  transition: transform 0.3s;
  transform: translateY(-100%);
}

.main-menu__item {
  padding: 1em;
}

.main-menu__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

/* Menú Tableta/Escritorio */
@media (min-width: 760px) {
  .toggle-menu {
      display: none;
  }

  .main-menu {
      flex-direction: row;
      transform: translateY(0);
  }
}
h2 {
  text-align: center;
  margin-top: 20px;
  color: rgb(23, 106, 109);
  font-weight: bold ;
}
 .contenedor {
  text-align: center;
}
.contacto {
  display: flex;
  justify-content: center;
}

.whatsapp-icon {
  fill: rgb(23, 106, 109);
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.whatsapp-link,
.contenedor a {
  padding: 10px 15px;
  background-color: rgb(6, 62, 6);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.whatsapp-link:hover,
.contenedor a:hover {
  background-color: rgb(81, 255, 65);
  color: black;
  font-weight: bold;
}

/* Corrección: Cambiado .whatsapp-link:hover .whatsapp-icon a .whatsapp-link:hover .whatsapp-icon:hover */
.whatsapp-link:hover .whatsapp-icon {
  fill: black;
  font-weight: bold;
}

.inicio{
  background-color: pink;
}
.servicio{
  background-color: black;
  

}
.nosotros{
  padding-top: 10px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.contacto {
  text-align: center;
  /* background-color: rgb(44, 40, 40);  */
  padding: 20px; 
  /* border: 3px solid red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius:5% ;
}
.contacto2{
  background-color: black;
}

.contacto h1 {
  color: rgb(23, 106, 109); 

}
.contenedor1{
  flex-direction: column;
}

